<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <button @click="add(10)">Add 10</button>
      <button @click="reduce(5)">Subtract 5</button>
      <p>Result: {{ counter }}</p>
      <!-- v-model은 v-bind:value 와 v-on:input의 축약어 / 양방향 바인딩 -->
      <input type="text" v-model="name">
      <input type="text" v-model="lastName">
      <button @click="resetInput">Reset Input</button>
      <!-- Vue는 HTML 코드 내에 있는 모든 메서드를 재실행 (왜냐하면 Vue는 메서드가 하는 일을 몰라서) -->
      <!-- 이벤트에 바인딩되지 않은 모든 메서드는 화면에 변경이 생길 때마다 Vue에 의해 재실행 -->
      <!-- computed는 직접 호출하지 않고 가리키기만 하면 Vue가 호출 -->
      <p>Your Name: {{ fullname }}</p>
    </section>
  </body>
</html>
